.contact {
  .contactContent {
    background: $grey;
    min-height: $minHeight;
    width: 100%;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      z-index: -1;
      filter: brightness(30%);
    }
  }

  .header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5rem;
    color: $black;
    font-size: larger;
  }

  .contactBox {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $black;
    margin-top: -1rem;
    margin: 0rem;


    form {
      box-sizing: border-box;
    }
  }


  .input,
  button {
    width: 100%;
    border: none;
    border-radius: $borderRadius;
    outline: none;
    border-bottom: 1px solid $black;
    color: $grey;
    padding: 14px 12px;

    &::placeholder {
      color: $black;
      font-size: 15px;
    }
  }

  .requiredInput {
    width: 95%;
    font-family: $font-3;
    font-size: larger;
    color: white;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
  }

  .requiredMessage {
    width: 95%;
    font-family: $font-3;
    color: white;
    margin-left: 10px;
    font-size: larger;
  }

  .inputSubmit {
    cursor: pointer;

    &:hover {
      color: $white;
      background: black;
    }
  }

  .invalid-feedback {
    color: white;
    position: relative;
    bottom: 10px;

  }

  .invalid-feedbackMessage {
    color: white;
    position: relative;
    bottom: 5px;

  }


  @media screen and (max-width: 1500px) and (min-width:1280px) {
    .contactBox {
      position: relative;
      top: 20px;
    }
  }

  input {
    margin-bottom: 20px;
    font-family: $font-1;
  }

  textArea {
    margin-bottom: 20px;
    font-family: $font-1;
    height: 120px;
  }

  h2 {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}