.modal {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 0%;
  left: 30%;
  width: 40%;
  height: 40%;
  padding: 20px ;
  border-radius: 5px;
  border: 1px solid black;
}
.buttonModalMain{
  justify-content: space-between;
}
.buttonModalOk {
  border-radius: $borderRadius;
  color: $grey;
  width: 50px;
  font-size: 1.5rem;
  font-family: $font-1;
  margin-top: 3rem;
}
.buttonModalNo {
  border-radius: $borderRadius;
  color: $grey;
  width: 110px;
  font-size: 1.5rem;
  font-family: $font-1;
  margin-top: 3rem;
  margin-left:65px;
  
 
}

.close{
  font-size: 1rem;
      background: white;
      color: $white;
      border:1px solid black;
      border-radius: 50%;
      padding: 0.5rem 0.8rem;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: black;
        transition: 0.3s ease;
      }
}