.CalendarMain{
  *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: black;
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .react-calendar, h2{
    border-radius: $borderRadius;
    margin-top: -270px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5rem;  
    color: black;
    background-color : rgb(61, 60, 60);
    
  }
}



@media screen and (max-width: 1024px){
  .CalendarMain{
    *{
      box-sizing: border-box;
      margin: 0;
      padding:0;
      color: $font-2;
      width: 850px;
      background-color: $font-2;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  .react-calendar, h2{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5rem;
  }
}
}

@media screen and (max-width:767px){
  .CalendarMain{
    *{
      box-sizing: border-box;
      margin: 0;
      padding:0;
      color: $font-2;
      width: 600px;
      background-color: $font-2;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  .react-calendar, h2{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  
  }
}
}
