@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Josefin+Sans:wght@100&family=Poppins&display=swap');

$font-1: 'Poppins',
cursive;
$font-2: 'Barlow',
cursive;
$font-3: 'Josefin Sans',
cursive;

$grey: rgb(26, 23, 23);
$white: #ddd;
$blue: #2a1d52;
$black: #A9A9A9;


$borderRadius : 25px;
$shadow : 0 1px 3px #333;
$minHeight : 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo {
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px black;
}

body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: black;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

a:visited {
  color: $black;
}

.home,
.knowledges,
.contact {
  display: flex;

  @media screen and (max-width:850px) {
    display: block;
  }
}

.homeContent,
.knowledgesContent,
.contactContent {
  margin-left: .4rem;

  @media screen and (max-width:850px) {
    margin-left: 0;
  }
}